.Feed {
  height: 100vh;
  margin-top: 60px;
  .container {
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
  .left {
    flex: 2;
    overflow-y: auto;
  }
  .right {
    flex: 1;
    margin-top: 20px;
  }
  .suggestions {
    margin-top: 40px;
  }
  .title {
    margin-bottom: 12px;
  }
}
